/* CSS declarations go here */
.map {
  width: 300px;
  height: 300px;
}

#login-buttons {
  padding: 18px 10px 0 10px;
  font-size: 14px;
}

/* Custom CSS Styles */

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top.
     Remove if using .navbar-static-top.
     Change if height of navigation changes. */
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
