/* CSS declarations go here */
#login-buttons {
  margin: 18px;
  font-size: 14px;
}

#add-new-listing {
  margin: 10px;
}

#search-bar {
  margin: 10px;
}

.fa {
  margin: 5px;
}

.jumbotron {
  padding: 20px;
  background-image: url("/img/busanbg.jpg");
  background-size: cover;
}
