/*====== LIST TILE SYTLES ===========*/

.tile-profile {
  position: relative;
  bottom: 180px;
  right: 110px;
  width: 25%;
}

.thumbnail {
  max-height: 400px;
}

/* ===== CREATE LISTING VIEW ======= */

.map-container {
  width: 500px;
  max-width: 100%;
  height: 500px;
}

.full-map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.create-button {
  margin-top: 10px;
}

/* ========= ACCOUNTS ============ */

#login-buttons {
  padding: 18px 10px 0 10px;
  font-size: 14px;
}

/* Custom CSS Styles */

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top.
     Remove if using .navbar-static-top.
     Change if height of navigation changes. */
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
